SECRET_KEY=django-insecure-guuu&id*-*2k!8v4y&602j&ld-z#l+3=&k!jp^#qyt2^jin-3x
DEBUG=False
ALLOWED_HOSTS=localhost,http://127.0.0.1:8000/,example.com

# # Security Settings (Data Encryption)
# SECURE_SSL_REDIRECT = True
# SESSION_COOKIE_SECURE = True
# CSRF_COOKIE_SECURE = True

# Stripe
# STRIPE_SECRET_KEY=sk_test_...
# STRIPE_PUBLISHABLE_KEY=pk_test_...
# STRIPE_WEBHOOK_SECRET=whsec_...
# STRIPE_MONTHLY_PRICE_ID=price_...
# STRIPE_YEARLY_PRICE_ID=price_...

# Application URLs
BASE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

# Google OAuth Credentials
# GOOGLE_CLIENT_ID=somekey.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=some_secret_key
# GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/user/auth/google/callback/
GOOGLE_WEB_CLIENT_ID=some_web_client_id.apps.googleusercontent.com

# Frontend URLs for OAuth login results
FRONTEND_LOGIN_ERROR_URL=http://localhost:3000/login?error=oauth_failed
FRONTEND_LOGIN_SUCCESS_URL=http://localhost:3000/login?success=true

# # GitHub OAuth
# GITHUB_CLIENT_ID=your_github_client_id
# GITHUB_CLIENT_SECRET=your_github_client_secret
# GITHUB_REDIRECT_URI=http://127.0.0.1:8000/github/login/callback/

# # Facebook OAuth
# FACEBOOK_APP_ID = "your_app_id"
# FACEBOOK_APP_SECRET = "your_app_secret"
# FACEBOOK_GRAPH_API_URL = "https://graph.facebook.com/v24.0"

# # LinkedIn OAuth
# LINKEDIN_CLIENT_ID = "your_client_id"
# LINKEDIN_CLIENT_SECRET = "your_client_secret"
# LINKEDIN_REDIRECT_URI = "http://127.0.0.1:8000/linkedin/callback"

# Apple OAuth
# APPLE_TEAM_ID=aghdfajagjzdgszg
# APPLE_PRIVATE_KEY=sdgsdag-sadg-asdg-asdg-asdgasdg
# APPLE_KEY_ID=keyid12345
APPLE_CLIENT_ID=com.example.app
# APPLE_REDIRECT_URI=https://127.0.0.1:8000/api/user/auth/apple/callback/

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Email (MailHog)
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=noreply@vehicleapp.com

# For production (AWS SES example)
# EMAIL_BACKEND=django_ses.SESBackend
# AWS_SES_REGION_NAME=us-east-1
# AWS_SES_REGION_ENDPOINT=email.us-east-1.amazonaws.com


# AI Service Configuration
AI_DIAGNOSTIC_BASE_URL=http://165.101.214.252:8000/


# iOS
IOS_SHARED_SECRET=ios_shared_secret
IOS_SANDBOX_MODE=True   # False for production

# Android
ANDROID_PACKAGE_NAME=com.autointel.vehicle